<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
    <!-- Rubik -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <!-- source sans pro -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drivedock</title>
    <link href="static/DriveDock.css" rel="stylesheet">
</head>


<body>
    <!-- <header>
        <div class="left">
            <img src="dd-01.png">
        </div>
        <div class="right">
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </header> -->
    <h1>
        DRIVE DOCK
    </h1>

    <h2 class="bind">
        <p>Drowsiness detection is a safety technology that can prevent mishappenings caused due to driver falling
            asleep while driving.The objective is to build a drowsiness detection system which will alert the driver
            when
            drowsiness is detected.</p>
        <p><span class="span2">Drive Dock</span> is a comprehensive website which provides the
            driving behaviour and information of different drivers.</p>
        <a href="/signin"><span class="span">Get Started ></span></a>
    </h2>
    <!-- <a href="#">Get Started ></a> -->
    <img src="static/images/Image.png" class="bind">

</body>

</html>