<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles - Drive Dock</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <!-- source sans pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
    <!-- Rubik -->
</head>

<body>
    <nav>
        <div id="navdiv1">
            <img src="static/images/DD.png">
        </div>

        <div id="navdiv2">
            <a id="anchor" href="/videoopen">
                <img src="static/images/UserProfile_Mesa de trabajo 1 copy 2.png">
            </a>
            <p>VIEW LIVE STREAM</p>
        </div>
    </nav>
    <main>
        <h1>
            Who's Driving?
        </h1>
        <div class="profiles">
            <div id="div1">
                <a href="#">
                    <img src="static/images/Profiles21.png">
                </a>
            </div>
            <div id="div2">
                <a href="#">
                    <img src="static/images/Profiles22.png">
                </a>
            </div>
            <div id="div3">
                <a href="#">
                    <img src="static/images/Profiles23.png">
                </a>
            </div>
            <div id="div4">
                <a href="#">
                    <img src="static/images/Profiles24.png">
                </a>
            </div>

        </div>
        <div class="profiles2">
            <p class="profilename">Antonio</p>
            <p class="profilename">Delilah</p>
            <p class="profilename">Kevin</p>
            <p class="profilename">Lauren</p>
        </div>
    </main>
    <!-- <footer>
        <p>
            <a href="file:///C:/Users/samak/Desktop/D/DriveDock/DriveDock.html">© Drive Dock</a>
        </p>
    </footer> -->
</body>

</html>